.header {
  padding: 16px 22px 13px 22px;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-blog {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex > :nth-child(n) {
  margin-right: 15px;
}

.flex > :last-child {
  margin-right: 0;
}

.logout-button {
  border-color: black;
  color: black;
}

.create-article-button {
  font-size: 14px;
  padding: 2px 6px;
  margin: 0;
}

.link-profile {
  color: black;
}
